[Unit]
Description=starting the node.js server - restarting on reboot
Documentation=the REPLACE Keywords will be replaced
After=network.target

[Service]
Environment=AWSAccessKeyId=REPLACE1 
Environment=AWSSecretKey=REPLACE2
Type=simple
User=ubuntu
ExecStart=node /home/ubuntu/deploy/express_api
Restart=on-failure

[Install]
WantedBy=multi-user.target